.H-Sc-C
    margin: auto
    padding: 2%
    height: 60vh
    background-color: #d2d2d2
    .contain
      position: relative
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      h3
        letter-spacing: 0.4rem
        margin-bottom: 0.1%
      h1
        font-size: 3rem
        letter-spacing: 0.6rem
        color: #404040
        margin-top: 0%
      table

        // background: red
        margin: auto
        width: 95vw
        // border: 1px solid black
        border-collapse: collapse
        tr
            padding: 2%
            display: grid
            // grid-template-columns: 1fr 1fr 1fr 1fr 
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
            td
                // border: 1px solid black
                li
                    line-height: 5rem
                    list-style: none
                    &:nth-child(1)
                        font-size: 5rem
                        color: white
                        font-weight: 700
                    &:nth-child(2)
                        font-size: 1.5rem
                        // color: red
                        color: #404040
